.instagram-carousel {
    & .slick-list {
        margin-right: -7.5px !important;
        margin-left: -7.5px !important;

        & .col {
            padding-right: 7.5px;
            padding-left: 7.5px;
        }
    }
}

.instagram-item {
    & a {
        position: relative;

        display: block;

        & img {
            width: 100%;
        }

        & .info {
            font-size: 14px;

            position: absolute;
            top: 0;
            left: 0;

            display: flex;
            visibility: hidden;
            align-items: center;
            justify-content: center;

            width: 100%;
            height: 100%;

            transition: $transition;

            opacity: 0;
            color: $white;
            background-color: rgba($black, 0.5);

            & span {
                display: flex;
                align-items: center;

                margin: 0 10px;

                & i {
                    margin-right: 6px;
                }

                &.like {
                }

                &.comment {
                    padding-bottom: 0;

                    border-bottom: 0;
                }
            }
        }

        &:hover {
            & .info {
                visibility: visible;

                opacity: 1;
            }
        }
    }
}