.product-filter {
	display: none;

	padding-top: 50px;
	padding-bottom: 50px;
}

.product-filter-widget-title {
	font-family: $marcellus;

	margin-bottom: 30px;
}
.product-filter-widget {
	max-height: 210px;
}